# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data & model artifacts
*.csv
*.pt
*.pth
*.pkl
*.joblib
images_final_sample/
data/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
